<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notlob</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @Styles.Render("~/Content/The_food_websiteCss.css")
    @Scripts.Render("~/Scripts/myscript.js")
    @Scripts.Render("~/Scripts/broadcast.js")
    <link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script>
    <script>
        var baseUrl = window.location.protocol + "//" + location.host;

        baseUrl + "/api/Broadcast/Add"
        function LoadBroadcasts()
        {
            $.ajax({
                url: baseUrl + "/api/Broadcast/Active",
                type: "GET",
                success: function (response) {
                    displayBroadcasts(response);
                }
            })
        }
         
        function LoadHistory()
        {
            $.ajax({
                url: baseUrl + "/api/Broadcast/History",
                type: "GET",
                success: function (response) {
                    displayHistory(response);
                }
            })
        }

        function AddRestaurant(RestaurantName) {
            $.ajax({
                url: baseUrl + "/api/Restaurant/Add",
                type: "GET",
                data: {
                    restaurantName: RestaurantName
                },
                success: function (response) {
                    GetRestaurants();
                }
            })
        }


        function AddRestaurantItem(itemName, id) {
            var data = {
                name: itemName,
                restaurantID: id
            };
            $.ajax({
                url: baseUrl + "/api/Restaurant/AddItem",
                type: "GET",
                data: data,
                success:function(response)
                {
                    GetRestaurantItems(id);
                }
            })
        }

        function GetRestaurantItems(id) {
            $.ajax({
                url: baseUrl +"/api/Restaurant/GetRestaurantItems",
                type: "GET",
                data:{
                id:id
                 },
                success: function (response) {
                    LoadRestaurantItems(response);
                }
            })
        }

        function GetRestaurants() {
            $.ajax({
                url: baseUrl + "/api/Restaurant/GetAll",
                type: "GET",
                success: function (response) {
                    LoadRestaurants(response);
                }
            })
        }


        function GetReciept(id) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/Receipt",
                type: "GET",
                data: {
                    id: id
                },
                success: function (response) {
                    LoadTotalReceipt(response);
                }
            })

        }

        function AddBroadcast(id, deadline) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/Add",
                type: "GET",
                data: {
                    restaurantID: id,
                    deadline: deadline
                },
                success : function(response)
                {
                    LoadBroadcasts();
                }
            })
        }
        function AddOrder(items, values, comments, id) {
            var data = {
                items: items,
                values: values,
                comments: comments,
                id: id
            };
            $.ajax({
                url: baseUrl + "/api/Broadcast/AddOrder",
                type: "GET",
                data: data,
                traditional: true
            })
        }

        function CloseBroadcast(id) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/Close",
                type: "GET",
                data: {
                    id: id
                },
                success : function(response)
                {
                    LoadHistory();
                }
            })
        }

        function CurrentOrder(id) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/GetCurrentOrder",
                type: "GET",
                data: {
                    id: id
                },
                success: function (response) {
                    LoadOrders(response);
                }
            })
        }

        function DeleteOrder(id) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/DeleteOrder",
                type: "GET",
                data: {
                    id: id
                }
            })
        }
        function ReceiptDetail(id, email) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/ReceiptDetail",
                type: "GET",
                data: {
                    id: id,
                    email:email
                },
                success: function (response) {
                    LoadUserReceipt(response);
                }
            })
        }
        function GetBroadcastSummary(id) {
            $.ajax({
                url: baseUrl + "/api/Broadcast/GetBroadcastSummary",
                type: "GET",
                data: {
                    broadcastId: id
                },
                success: function (response) {
                    LoadBroadcastSummary(response);
                }
            })
        }

        function AddItemPrice(id,name,price) {
            $.ajax({
                url: baseUrl + "/api/Restaurant/PutPrice",
                type: "GET",
                data: {
                    id: id,
                    name: name,
                    price: price
                },
                success: function (response) {
                    ReceiptDetail(broadcastid, email);
                }
            })
        }



    </script>
    <title>The food website</title>
</head>
<body>
    <!///////////////////////////////////////////////////////////////////////////////////////////////>
    <div class="container">
        <div name="History & current orders buttons">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center;">
                        <div class="btn-group" data-toggle="buttons">
                            <br>
                            <br>
                            <label class="btn btn-primary dropdown-content one" style="border-bottom-left-radius:25px;background-color:#25aacf!important;border-top-left-radius:25px;">
                                <input type="radio" id="current_order_btn">Current orders
                            </label>
                            <label class="btn btn-primary dropdown-content one" style="border-bottom-right-radius:25px;background-color:#25aacf!important;border-top-right-radius:25px;">
                                <input type="radio" id="history_btn">History
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="new broadcast button">
            <div class="row">
                <div class="col-md-11">

                </div>
                <div class="col-md-1">
                    <div style="text-align:bottom;">

                        <button type="button" class="btn btn-default btn-circle btn-xl" id="add_btn"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>

            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="where the broadcasts go">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center;" id="home">
                        <br>
                        <table class="orders table_g" id="home_table" ;align="center"></table>
                    </div>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="where history orders go">

            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center;" id="history">
                        
                    </div>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="enrolled in an order" id="home_select">

            <div class="row">

                <div class="col-md-11">
                    <p></p>
                </div>
                <div class="col-md-1">
                    <div>
                        <button type="button" class="btn btn-default btn-circle btn-x2" id="check_btn"><i class="glyphicon glyphicon-check"></i></button>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-5">
                    <div style="text-align:center;">
                        <div class="scrollable">
                            <input type="text" style="width:100%;max-width:100%;" id="ItemSetupFilterList" class="filterListInputItem" onkeyup="initializeItemList()" placeholder="Search for an item..">
                            <ul id="ItemSetupItems" class="filterList">
                                <li><a><button class="add_unexisting" id="add_item" style="font-size:20px!important;">+</button></a></li> 
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    
                    <p></p>
                </div>
                <div class="col-md-6 scrollable">
                    <table class="table_history_select">
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Special comments
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                        <tbody id="user_order_details">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="table of people as buttons and their order details" id="history_select">
            <div class="row" style="text-align:center">
                <div class="col-md-4 scrollable" style="text-align:center">
                </div>

                <div class="col-md-4 scrollable" style="text-align:center">
                    <br>
                    <br>
                    <table class="table_history_select">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Total (L.E)</th>
                            </tr>
                        </thead>
                        <tbody id="total_receipt">
                        </tbody>

                    </table>
                </div>
            </div>
            <hr />
            <div class="row" style="text-align:center">
                <h4 id="history_total_amount"></h4>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div id="to_settle">
            <div class="row">
                <div class="col-md-11">
                    <p></p>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-circle btn-x2" id="done_settling"><i class="glyphicon glyphicon-euro"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table_history_select">
                        <tr>
                            <th>

                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div id="to_settle_orders" style="text-align:center;">

            <br>

            <button class="btn btn-primary header settle_this">KFC<br>22/8/2017</button>
            <button class="btn btn-primary header settle_this">papa johns<br>23/8/2017</button>
            <button class="btn btn-primary header settle_this">zooba<br>24/8/2017</button>

        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="recipt per person" id="recipt">
            <div class="row">
                
                    <div class="col-md-3" id="summary_per_user">
                        
                    </div>
               

                    <div class="col-md-6 scrollable" style="text-align:center">
                        <br>
                        <br>

                        <table class="table_history_select">
                            <tr>
                                <th>item</th>
                                <th>Quantity</th>
                                <th>price (per one)</th>
                                <th>total</th>
                            </tr>
                            <tbody id="user_receipt_table_body"></tbody>

                        </table>
                    </div>
                </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="make a new broadcast" id="order_setup">

            <div class="row">
                <div class="col-md-11">

                </div>
                <div class="col-md-1">
                    <button style="align:left;" type="button" class="btn btn-default btn-circle btn-x2 " id="done"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
            </div>

            <br>

            <div class="row">

                <div class="col-md-2">
                    <p>

                    </p>
                </div>

                <div class="col-md-5 ">
                    <div>
                        <input type="text" style="width:100%;max-width:100%;" id="orderSetupFilterList" class="filterListInputOrder " onkeyup="initializeOrderList()" placeholder="Search for a restaurant..">
                        <div class="col-md-12 scrollable">
                            <ul id="orderSetupItems" class="filterList" style="max-height:25em;">
                                <li><a><button class="add_unexisting" id="add_restaurant" style="font-size:20px!important;">+</button></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class=" input-group bootstrap-timepicker timepicker" style="height:20px !important;">
                        <input id="timepicker1" type="text" class="form-control input-small " style="border-radius: 25px;">
                    </div>



                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="transition page">


            <div class="row" id="trans" style="text-align:center;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="col-md-4">
                    <p> </p>
                </div>
                
                <div class="col-md-2">
                    <button type="button" class="trans_btn" style="border-bottom-left-radius:50px;border-top-left-radius:50px;" id="order_btn">Edit Order</button>
                </div>
                <div class="col-md-2">
                    <button type="button" style="border-top-right-radius:50px;border-bottom-right-radius:50px;"  class="trans_btn" id="review_btn">Order summary</button>

                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="transition history page ">


            <div class="row" id="history_trans" style="text-align:center;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="col-md-4">
                    <p> </p>
                </div>
                <div class="col-md-2">
                    <button type="button" style="border-bottom-left-radius:50px;border-top-left-radius:50px;" class="trans_btn" id="settled_btn">Closed & settled</button>

                </div>
                <div class="col-md-2">
                    <button type="button" class="trans_btn" style="border-top-right-radius:50px;border-bottom-right-radius:50px;" id="unsettled_btn">unsettled</button>
                </div>
            </div>
        </div>
        <!///////////////////////////////////////////////////////////////////////////////////////////////>
        <div name="review bnt close" id="wil_order">
            <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col-md-1">
                    <button type="button" style="color:white!important;background-color:#F7403C !important;" class="btn btn-default btn-circle btn-x2" id="close_order"><i class="glyphicon glyphicon-bell"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="scrollable" style="text-align:center;max-height:25em !important;">
                    <br>
                    <table class="table_history_select" id="review_order_table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>



                </div>
            </div>
        </div>
    </div>
    <!///////////////////////////////////////////////////////////////////////////////////////////////>
</body>
<script type="text/javascript">
    $('#timepicker1').timepicker({
        showInputs: false
    });



</script>
</html>